$color-primary: #4e5150;
$color-additional: #a9a9a9;
$color-light-grey: #bdbdbd;
$color-background: #ffffff;
$color-light: #ffffff;
$color-footer: #b9bdcf;

$content-width: 960px;
$tablet-width: 768px;
$mobile-width: 320px;
